__pycache__
__pycache__\*
temp.txt
*.un~
PhoneBookMerge/*.vcf
*/.ropeproject/*
*.netrwhist
*.pyc
*.png
*.dot
*.pkl
*.netrwhist
keyl/DisplayDriver.exe
keyl/log.txt
keyl/build*
keyl/bin*
keyl/dist*
keyl/*.spec
keyl/*.log
a.txt
privoxy.log
misc/validate/a.xls
